@page "/note"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<h1>Note - saved i Local Storage</h1>

<textarea @bind="noteContent" />
<br />
<button class="btn btn-primary" @onclick="UpdateLocalStorage">Save</button>
<button class="btn" @onclick="ClearLocalStorage">Clear</button>

@code {


    protected override async Task OnInitializedAsync()
    {
        var x = await localStore.GetItemAsync<string>(noteKey);
        if (x == null)
            noteContent = "";
    }


    const string noteKey = "note";
    string noteContent = "";

    public async void UpdateLocalStorage()
    {
        await localStore.SetItemAsync(noteKey, noteContent);
    }

    public async void ClearLocalStorage()
    {
        noteContent = "";
        await localStore.RemoveItemAsync(noteKey);
    }

}


